@charset "UTF-8";
        :root {
            --azulescuro: #222E73;
            --azulmedio:#344F73;
            --azulclaro:#84A4BF;
            --cinza:#8C7E6D;
            --branco:#F2F2F2;
        }
        * {
            font-family: 'Poppins', sans-serif;
            box-sizing: border-box;
        }
        body {
            margin: 0;
            padding: 0;
            background-size: cover;
            background-repeat: no-repeat;
            width: 100vw;
            min-height: 100vh;
        }
        header p {
            text-align: center;
            font-size: 1.5em;
            font-weight: bold;
            color: white;
            margin: 20px;
            text-shadow: 2px 2px 5px rgba(0,0,0,0.6);
        }
        section#container {
            max-width: 500px;
            background-color: #ffffffb2;
            display: grid;
            grid-template-columns: 190px 1fr;
            grid-template-rows: auto auto auto;
            margin: 40px auto;
            border: none;
            box-shadow: 0 4px 12px rgba(0,0,0,0.2);
            border-radius: 20px;
            font-size: 0.9em;
            line-height: 1.3em;
            padding: 12px;
        }
        div#foto {
            grid-column: 1;
            grid-row: 1;
        }
        div#foto img {
            width: 180px;
            height: 160px;
            border-radius: 50%;
            border: none;
            filter: brightness(1.05) contrast(1.15) saturate(0.9) hue-rotate(-10deg);
            box-shadow: 0 4px 12px rgba(0,0,0,0.2);;
        }
        div#nome {
            grid-column: 2;
            grid-row: 1;
            text-align: center;
            align-content: center;
        }
        #nome h1 {
            font-size: 1.6em;
            margin: 10px 0 5px;
            line-height: 1.2em;
        }
        #nome h3 {
            font-size: 1em;
            font-weight: normal;
            color: gray;
            margin: 0;
        }
        div#bio {
            grid-column: 1 / 3;
            grid-row: 2;
            padding: 10px;
            padding-bottom: 0px;
            text-align: justify;
        }
        #interesses {
            margin-top: -10px;
            grid-column: 1;
            grid-row: 3;
            display: flex;
            flex-wrap: wrap;
            gap: 0px;
            justify-content: center;
            align-items: center;
        }
        #interesses h2 {
            width: 100%;
            text-align: center;
            font-size: 1.1em;
            margin-bottom: 15px;
            color: rgb(0, 0, 0);
        }
        #interesses p {
            margin: 2px;
            background: var(--azulclaro);
            padding: 5px 10px;
            border-radius: 12px;
            font-size: 0.8em;
            white-space: nowrap;
            color: white;
        }
        #redes {
            grid-column: 2;
            grid-row: 3;
            text-align: center;
            margin-top: 20px;
        }
        #redes h2 {
            font-size: 1.1em;
            margin-bottom: 15px;
            
        }
        #redes a img {
            width: 40px;
            height: 40px;
            margin: 0 8px;
        }
        footer {
            text-align: center;
            font-size: 1em;
            font-weight: bold;
            color: white;
            margin: 20px;
            text-shadow: 2px 2px 5px rgba(0,0,0,0.6);
        }

        @media screen and (max-width: 600px) and (orientation: portrait) {
            body {
                background-image: url(imagens/portrait.jpg);
                background-position: center;
                
            }
            section#container {
                width: 320px;
                display: flex;
                flex-direction: column;
                align-items: center;
                text-align: center;
            }
            div#foto img {
                width: 150px;
                height: 140px;
            }
        }
        @media screen and (max-width: 600px) and (orientation: landscape) {
            body {
                background-image: url(imagens/img01.jpg);
                background-position: center;
            }
        }
        @media screen and (max-width: 768px) and (min-width: 601px) {
            body {
                background-image: url(imagens/img02.jpg);
                background-position: center;
            }
        }
        @media screen and (max-width: 992px) and (min-width: 769px) {
            body {
                background-image: url(imagens/img03.jpg);
                background-position: center;
            }
        }
        @media screen and (max-width: 1200px) and (min-width: 993px) {
            body {
                background-image: url(imagens/img04.jpg);
                background-position: center;
            }
        }
        @media screen and (max-width: 2000px) and (min-width: 1201px) {
            body {
                background-image: url(imagens/img06.jpg); 
                background-position: center; 
            }
        }
        @media screen and (min-width: 2001px) {
            body {
                background-image: url(imagens/img05.jpg);
                background-position: center;
            }
            section#container {
                width: 1000px;
                height: auto;
                font-size: 1.2em;
                padding: 20px;
            }
            div#foto img {
                width: 300px;
                height: 280px;
            }
        }