@charset "UTF-8";
/* Typical Device Breakpoints
------------------------------
Pequenas telas: até 600px
Celular: de 600px até 768px
Tablet: 768px até 992px
Desktop: 992px até 1200px
Grandes telas: acima de 1200px
*/
:root {
    --azulescuro: #222E73;
    --azulmedio:#344F73;
    --azulclaro:#84A4BF;
    --cinza:#8C7E6D;
    --branco:#F2F2F2;
}
* {
    font-family: 'Poppins', sans-serif;
    color: white;
}
body {
    background-size: cover;
    background-repeat: no-repeat;
    width: 98vw;
    height: 97vh;
}
header p {
    color:white;
    font-size: 1.2em;
}
section#bio {
    width: 500px;
    height: 400px;
    background-color: #ffffffab;
    display: block;
    margin: 40px auto;
    border: 2px solid var(--cinza);
    border-radius: 20px;
}
div#redes {
    text-align: center;
}
footer {
    text-align: center;
}
@media screen and (max-width: 600px) and (orientation: portrait) {
    body {
        background-image: url(imagens/portrait.jpg);
        background-position: center;
    }
    section#bio {
    width: 320px;
    height: 400px;
    background-color: #ffffffab;
    display: block;
    margin: 100px auto;
    border: 2px solid var(--cinza);
    border-radius: 20px;
}
}
@media screen and (max-width: 600px) and (orientation: landscape)  {
    body {
        background-image: url(imagens/img01.jpg);
        background-position: center;
    }
}
@media screen and (max-width: 768px) and (min-width: 601px) {
    body {
        background-image: url(imagens/img02.jpg);
        background-position: center;
    }
}
@media screen and (max-width: 992px) and (min-width: 769px) {
    body {
        background-image: url(imagens/img03.jpg);
        background-position: center;
    }
}
@media screen and (max-width: 1200px) and (min-width: 993px) {
    body {
        background-image: url(imagens/img04.jpg);
        background-position: center;
    }
}
@media screen and (max-width: 2000px) and (min-width: 1201px) {
    body {
        background-image: url(imagens/img06.jpg); 
        background-position: center; 
    }
}
@media screen and (min-width: 2001px) {
    body {
        background-image: url(imagens/img05.jpg);
        background-position: center;
    }
    section#bio {
    width: 1000px;
    height: 800px;
    background-color: #ffffffab;
    display: block;
    margin: 100px auto;
    border: 2px solid var(--cinza);
    border-radius: 20px;
}
